<div class="container">
  <div id="carouselExampleCaptions slider" class="carousel slide">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.freepik.com/fotos-premium/hermosos-paisajes-paisajes-naturales-hacen-que-personas-relajen-disfruten-fondo-pantalla_916211-258892.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Bienvenido</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus in laborum necessitatibus inventore dolor fugiat magni hic deleniti earum, vel, quidem tenetur assumenda excepturi esse voluptate at. Sapiente, commodi voluptates?</p>
        </div>
      </div>
    </div>
  </div>
  
<div>
  <hr>
  <h2>Personas que quizás conozcas</h2>
  <div></div>
</div>
<app-otros-users></app-otros-users>
</div>
