

.presentacion{
    background-color: white;
    box-shadow: 1px 5px 60px 0px #100a886b;
    width: 75%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 20px 20px 0 0;
    height: 100vh;
    overflow: auto;
}
/* Oculta las barras de desplazamiento del overflow */
.presentacion::-webkit-scrollbar {
    width: 0; /* O bien height: 0; para ocultar la barra vertical */
}
.presentacion h2{
    margin-top: 20px;
}
.contImg{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
.contImg img{
    max-width: 100%;
    height: 100%;
    display: block;
 
}

.presentacion span{
    font-weight: bolder;
}
.info{
    text-align: left;
    font-size: 1.3rem;
}
.info div{
    margin-top: 80px;
}
.description{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 80%;
}
.down{
    margin-top: 30px;
}
.boton{
    background-color: #57CC99;
} 
.TieneImg{
    text-align: center;
    display: block;
    z-index: 1;
    text-align: center;
}
.TieneImg > input{
    margin-top: 20%;
}
.TieneImg > *{
    margin-top: 20%;
}

/* Aplica estilos solo cuando la pantalla tenga un ancho máximo de 600px */
@media screen and (max-width: 600px) {
    /* Estilos condicionales aquí */

    .presentacion {
       height: 100%;
       padding-bottom: 30px;
       z-index: 1;
       text-align: center;
    }
    .contImg{
        width: 200px;
        height: 200px;
    }
    .info{
        text-align: center;
        font-size: 1.1rem;
        margin-top: 0px;
        padding-top: 0px;
    }
    .info span{
        margin-top: 0px;
        
    }
    .description{
        font-size: 1rem;
    }
}
/* Estiliza el contenedor que simula el botón de carga de archivos */
.label-file {
    background-color: #57CC99;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 150px; /* Ajusta según sea necesario */
    height: 40px; /* Ajusta según sea necesario */
  }
  
  /* Asegura que el input sea transparente y ocupe todo el contenedor */
  .input-file {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
  }
  
  /* Cambia el estilo cuando el usuario pasa el ratón sobre el contenedor */
  .label-file:hover {
    background-color: #22577A;
  }
  
  /* Estiliza el texto dentro del contenedor */
  .label-file span {
    font-weight: bold;
    z-index: 2;
  }
  